<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>Home</title>
  </head>
  <body>
    {{ if . }}
    <form method="post" action="/updateUsers">
      <input type="hidden" name="id" value={{ .ID }} />
      Username: <input type="text" name="username" value= {{ .Username }} /> <br>
      First Name: <input type="text" name="firstName" value= {{ .FirstName }} /><br>
      Last Name:  <input type="text" name="lastName" value= {{ .LastName }} /><br>
      <input type="submit" value="Update"/>
    </form>
    {{ else }}
<h1> Data Not Found</h1>
{{ end }}
  </body>
</html>