<!DOCTYPE HTML>
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <title>Home</title>
 </head>
 <body>
  <form method="post" action="/createUsers">
    Username: <input type="text" name="username" placeholder="Username" autofocus/><br>
    First Name: <input type="text" name="firstName" placeholder="First Name"/><br>
    Last Name: <input type="text" name="lastName" placeholder="Last Name"/><br>
    Password: <input type="password" name="password" placeholder="Password"/><br>
    <input type="submit" value="Add Users"/>
   </form>
 </body>
</html>